<h1>Secrets</h1>

<% @secrets.each do |secret| %>


    <div class="container">
        <%= secret.content %>
                <p><%= secret.likes.length %> likes</p>
                <% unless current_user.secrets_liked.include?(secret) %>
                    <form action="/likes/<%= secret.id %>" method="post" class="d-inline-block">
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                        <button type="submit" class="btn btn-dark">Like</button>
                    </form>
                <% else %>
                    <form action="/likes/<%= secret.id %>" method="post" class="d-inline-block">
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

                        <input type="hidden" name="_method" value="delete">
                        <button type="submit" class="btn btn-dark">Unlike</button>
                    </form>
                <% end %>
        <% if current_user == secret.user %>
            <form action="/secrets/<%= secret.id %>" method="post" class="d-inline-block">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="hidden" name="_method" value="delete">
                <button type="submit" class="btn btn-dark">Delete</button>
            </form>
        <% end %>
    </div>
<% end %>