<a class="btn btn-primary" href="<%= songs_path %>">Songs Dashboard</a>

<h1><%= @user.first_name %> <%= @user.last_name %>'s Playlist</h1>

<table class="table table-striped">
  <thead>
    <th>Artist</th>
    <th>Title</th>
    <th>Times Added</th>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.song.artist%></td>
        <td><%= song.song.title %></td>
        <td><%= song.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>