<div class="jumbotron">
    <h1>Welcome, <%= @user.fname %>! <a class="btn btn-default" href="/users/<%= @user.id %>/edit">Edit Profile
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></h1>
    <p>See the events below!</p>
</div>

<% if @event.exists? %>
<h2><strong>Events in <%= @user.state %></strong></h2>
<div class="text-center">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Date</th>
                <th class="text-center">Location</th>
                <th class="text-center">Host</th>
                <th class="text-center">Action/Status</th>
            </tr>
        </thead>
        <tbody>
            <% @event.each do |event| %>
            <tr>
                <td><a href="/events/<%= event.id %>"><%= event.name %></a></td>
                <td><%= event.date.strftime("%B %d, %Y") %></td>
                <td><%= event.city %></td>
                <td><%= event.host.first_name %></td>
                <td>
                    <% if event.host.first_name == @user.first_name %>
                    <a href="/events/<%= event.id %>/edit" class="btn btn-info">Edit <span
                            class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                    <a href="/events/<%= event.id %>" class="btn btn-danger" data-method="delete">Delete <span
                            class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                    <% else %>
                    <% if event.users.exists?(session[:id]) %>
                    Attending <a href="/attendees/<%= event.id %>/delete" data-method="delete"
                        class="btn btn-danger">Cancel Plans</a>
                    <% else %>
                    <a href="/events/<%= event.id %>/join" class="btn btn-success">Join</a>
                    <% end %>
                    <% end %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
    <% else %>
    <em>
        <h2>There are not any events in <%= @user.state %>!</h2>
    </em>
    <% end %>
</div>

<% if @other_event.exists? %>
<h2><strong>Events in other states</strong></h2>
<div class="text-center">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Date</th>
                <th class="text-center">Location</th>
                <th class="text-center">State</th>
                <th class="text-center">Host</th>
                <th class="text-center">Action/Status</th>
            </tr>
        </thead>
        <tbody>
            <% @other_event.each do |event| %>
            <tr>
                <td><a href="/events/<%= event.id %>"><%= event.name %></a></td>
                <td><%= event.date.strftime("%B %d, %Y") %></td>
                <td><%= event.city %></td>
                <td><%= event.state %></td>
                <td><%= event.host.first_name %></td>
                <td>
                    <% if event.host.first_name == @user.first_name %>
                    <a href="/events/<%= event.id %>/edit" class="btn btn-info">Edit <span
                            class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                    <a href="/events/<%= event.id %>" class="btn btn-danger" data-method="delete">Delete <span
                            class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                    <% else %>
                    <% if event.users.exists?(session[:id]) %>
                    Attending <a href="/attendees/<%= event.id %>/delete" data-method="delete">Cancel</a>
                    <% else %>
                    <a href="/events/<%= event.id %>/join" class="btn btn-success">Join</a>
                    <% end %>
                    <% end %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
    <% else %>
    <em>
        <h2>There are currently no events in other states!</h2>
    </em>
    <% end %>
</div>

<h2><strong>Add Event</strong></h2>
<form class="form-horizontal" action="/events" method="post">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

    <div class="form-group">
        <label for="name" class="control-label col-sm-2">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="event[name]" placeholder="Name">
        </div>
    </div>

    <div class="form-group">
        <label for="date" class="control-label col-sm-2">Date</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" name="event[date]" placeholder="Date">
        </div>
    </div>

    <div class="form-group">
        <label for="location" class="control-label col-sm-2">Location</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="event[city]" placeholder="Location">
        </div>
    </div>

    <div class="form-group">
        <label for="state" class="control-label col-sm-2">State</label>
        <div class="col-sm-10">

        </div>
    </div>
    <div class="col-sm-offset-2 col-sm-10">
        <input type="hidden" name="event[host_id]" value="session[:id]" />
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>