<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

<div class="container">
    <h3>Listing 4 Dojos</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Coding Dojo Brach</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% @all_dojo.each do |dojo| %>
            <tr>
                <th scope="row"><%= dojo.branch %></th>
                <td><%= dojo.street %></td>
                <td><%= dojo.city %></td>
                <td><%= dojo.state %></td>
                <td>
                    <button class="btn btn-primary">
                        <a href="/dojos/<%= dojo.id  %>" class="text-light">Show</a>
                    </button>
                    <button class="btn btn-success">
                        <a href="/dojos/<%= dojo.id  %>/edit" class="text-light">Edit</a>
                    </button>
                    <button type="submit" class="btn btn-danger">
                        <a href="/dojos/<%= dojo.id  %>" data-method="delete" class="text-light">Destroy</a>
                    </button>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>

    <button class="btn btn-primary">
        <a href="/dojos/new" class="text-light">New Dojo</a>
    </button>
</div>